* {
    font-family: 'Poppins', sans-serif;
}

#seccion1 {
    background: linear-gradient(90deg, #741f1f 0%, #500912 100%)

}

#quienesomos {
    background: rgb(244, 215, 0);
    border: 2px solid black;
}

#nuestramision {
    background: rgb(244, 215, 0);
    border: 2px solid black;

}

#seguridad {
    background: rgb(244, 215, 0);
    border: 2px solid black;
}

#BASES {
    background: rgba(255, 229, 29, 0.857);
    border: 5px solid rgb(54, 2, 2);

}

#servicios {
    background: rgba(255, 255, 255, 0.857)
}

#decoracion {
    background: rgba(201, 203, 200, 0.857)
}

#BASE {
    border-radius: 50px;
}

#Ubicacion {
    border-radius: 10px 10px;
}

#svg1 {
    color: rgb(97, 15, 15);

}

#pidetaxi {
    background-color: #f7fafc;
    color: black;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#pidetaxi:hover {
    background-color: #461818;
    color: rgb(255, 255, 255);
}

.fade-in {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.fade-in.visible {
    opacity: 1;
}

#formulario {
    border-radius: 12px;
    background-color: rgb(246, 223, 46);
}

#registro {
    background: linear-gradient(90deg, #ba4040 0%, #500912 100%)
}

#logoformulario {
    border-radius: 30px;
}

#botonformulario {

    background-color: #f7fafc;
    color: black;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#botonformulario:hover {
    background-color: #461818;
    color: rgb(255, 255, 255);
}

#escribenos {

    color: black;
    transition: background-color 0.1s ease, color 0.1s ease;
}

#escribenos:hover {
    color: rgb(102, 18, 18);
}

